<!DOCTYPE html>
<html>
<head>
	<title>Sherlock</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	{% load static %}
	<link rel='stylesheet' href="{% static 'main.css' %}">
	<link rel="icon" href="Docs/head_logo.png">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<nav style="background-image: url({% static 'Images/background.png' %});">
		<ul>
			<a href="{% url 'index' %}"><li>Home</li></a>
			<a href="{% url 'forms' %}"><li>Explore</li></a>
			<a href="{% url 'history' %}"><li>History</li></a>
		</ul>
	</nav>

	{% block content %}
	<div class="page" style="background-image: url({% static 'Images/background.png' %});">
		
		<div class="clear-header"></div>

		<div class="card">

				<form action="{% url 'closeCam' %}" method="POST" id="movie_form">
					<img src="{% static 'Images/camera.png' %}">
	        		<h1>Explore Movies</h1>
	        		<span class="thin_italics">Analyse your movie experience</span>
	        		<p class="explain">
	        			Our program will read your facial expressions during the experience and generate just the right preferences especially tailored to your emotional responses.
	        		</p>
					{% csrf_token %}
	        		{{ form.as_p }}
	        		<button type="submit" onclick="closeWin()">Go</button>
	    		</form>

	    		<div style="max-width: 50px">
		    		<button onclick="openWin();" class="launch"><i class="fas fa-video" style="color: #ffffff;"></i></button>
		    		<button onclick="closeWin();" class="launch"><i class="fas fa-stop" style="color: red;"></i></button>
	    		</div>

	    		<form action="{% url 'addNewMusic' %}" method="POST" id="music_form">
	    			<img src="{% static 'Images/music.png' %}">
	    			<h1>Explore Music</h1>
	    			<span class="thin_italics">Enhance your listening experience</span>
	        		<p class="explain">
	        			Similar to its movie counterpart, the program analyses the facial expressions to gather and generate emotional datasets this time to cater to the musician inside you.
	        		</p>
					{% csrf_token %}
	        		{{ form_music.as_p }}
	        		<button type="submit" onclick="closeWin()">Go</button>
	    		</form>
			</div>

		</div>		


	</div>
	{% endblock %}

	<script type="text/javascript">

		document.addEventListener('wheel', function(e)
		{
		  if(e.type != 'wheel')
		  {
		    return;
		  }
		  let delta = ((e.deltaY || -e.wheelDelta || e.detail) >> 10) || 1;
		  delta = delta * (-20);
		  document.documentElement.scrollLeft -= delta;
		  document.getElementsByClassName('page')[0].scrollLeft -= delta;    
		  e.preventDefault();
		}, { passive: false});

		var myWin = null;

		function openWin () {
  			myWin = window.open("{% url 'test' %}", "_blank");
		}

		function closeWin () {
		  myWin.close();
		  window.close();
		}

	</script>

</body>
</html>